*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
}

body {
    font-family: "Roboto", sans-serif;
}

.container {
    width: 50%;
    margin: 0 auto;
}

/* Header */
header {
    height: 100px;

    display: flex;
    align-items: center;

    background-color: #fdbb40;
}

header > .container {
    position: relative;
}

h1#main-title {
    color: #000;
    font-weight: 700;
}

header #logo {
    position: absolute;
    top: -100%;
    right: 0;
}

/* Main */
main .container {
    padding: 100px 0 30px 0;
    height: calc(100vh - 200px);
}

#burger-name {
    border: 0;
    padding: 10px 20px;
    padding-left: 0;
    
    font-size: 35px;
    color: #777b81;
}

#burger-name:focus {
    outline: 0;
}


.ingredients {
    list-style-type: none;
    display: flex;

    flex-wrap: wrap;
}

.ingredients li {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.ingredients li > * {
    margin-right: 10px;
}

.ingredients img {
    width: 50px;
}

input[type="checkbox"] {
    display: none;
}

.styled-checkbox {
    border: 1px solid #000;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    text-align: center;
    color: transparent;
    user-select: none;
    background-color: #bc3b59;
}

.discount-cont {
    display: flex;
    justify-content: space-between;
}


#discount-code {
    background-color: #fdf5e4;
    border: 0;
    padding: 5px;
    border-radius: 5px;
    flex-basis: 70%;
}

#discount-code:focus {
    outline: 0;
}

#calc-btn {
    background-color: #efba54;
    border: 0;
    display: block;
    margin: 20px auto;
    padding: 15px 50px;
    font-weight: 700;
    font-size: 25px;
    border-radius: 10px;
}

footer {
    background-color: #bc3b59;
    height: 100px;
    color: #FFF;
    font-size: 30px;
    font-weight: 700;

    display: flex;
    align-items: center;
}

.price-div {
    display: flex;
}

.footer-text {
    flex-grow: 1;
}